<div id="comment_<%= comment.id %>" class="comment">
  <li>
    <%= link_to gravatar_for(comment.user,
      size: Settings.comment.user.picture_size), comment.user %>
    <span class="user"><%= link_to comment.user.name, comment.user %></span>
    <div class="body">
      <span class="content"><%= comment.content %></span>
      <span class="timestamp">
        <%= t ".submited" %>
        <%= time_ago_in_words comment.created_at %>
        <%= t ".ago" %>.
        <% if comment.commentable_type == Post.name %>
          <%= link_to t(".edit"), edit_post_comment_path(commentable, comment),
            remote: true if can_edit_comment? comment %> |
          <%= link_to t(".delete"), post_comment_path(commentable, comment),
            method: :delete, data: {confirm: "You sure?"},
            remote: true if can_delete_comment? comment, @post %>
        <% else %>
          <%= link_to t(".edit"), edit_comment_comment_path(commentable, comment,
            post_id: @post.id), remote: true if can_edit_comment? comment %> |
          <%= link_to t(".delete"), comment_comment_path(commentable, comment,
            post_id: @post.id), method: :delete, data: {confirm: "You sure?"},
            remote: true if can_delete_comment? comment, @post %>
        <% end %>
      </span>
      <span class="comment-manager">
        <%= link_to t(".reply"), comment_comments_path(comment, post_id: @post.id),
          remote: true, class: "comment-link" %>
        <span class="badge" id="comment_<%= comment.id %>_comment_count">
          <%= comment.comments.size %>
        </span>
        <span id="comment_<%= comment.id %>_loadding_comments"
          class="post-loadding-comments">
          <%= image_tag "Spinner.gif" %>
        </span>
      </span>
    </div>
    <div class="edit-form"></div>
    <div class="comments-with-form">
      <ul class="comments-list" id="comment_<%= comment.id %>_comments"
        style="display: none">
      </ul>
      <% if can_comment? @post %>
        <span id="comment_<%= comment.id %>_comment_form" style="display: none"
          class="comment-form"></span>
      <% end %>
    </div>
  </li>
</div>
