<%= form_for @post do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div>
    <%= f.text_field :title, placeholder: t(".enter_title") %>
  </div>
  <div class="field">
    <%= f.text_area :body, placeholder: t(".compose_post") %>
    <%= f.text_field :tag_names, placeholder: t(".tag_separated") %>
  </div>
  <%= f.submit t(".post"), class: "btn btn-primary" %>
  <span class="picture">
    <%= f.file_field :picture, accept: "image/jpeg,image/gif,image/png" %>
  </span>
<% end %>
