<li id="post-<%= post.id %>" class="post">
  <%= link_to gravatar_for(post.user, size: Settings.users.gravatar.size),
    post.user %>
  <span class="user"><%= link_to post.user.name, post.user %></span>
  <span class="title">
    <%= t(".title") + post.title %>
    <% if post.tags.any? %>
      | <%= t ".tags" %><%= raw tag_links(post.tag_names) %>
    <% end %>
  </span>
  <span class="content">
    <%= raw post.body %>
    <%= image_tag post.picture.url if post.picture? %>
  </span>
  <span class="timestamp">
    <%= t ".posted" %>
    <%= time_ago_in_words post.created_at %>
    <%= t ".ago" %>.
      <% if user_signed_in? && current_user.is_user?(post.user) %>
        <%= link_to t(".delete"), post, method: :delete,
          data: {confirm: t(".are_you_sure")} %>
      <% end %>
  </span>
  <span class="comment-manager">
    <%= link_to t(".comments"), post_comments_path(post), remote: true %>
    <span class="badge" id="post_<%= post.id %>_comment_count">
      <%= post.comments.size %>
    </span>
  </span>
  <div class="comments-with-form">
    <ul class="comments-list" id="post_<%= post.id %>_comments" style="display: none">
    </ul>
    <% if can_comment? post %>
      <span id="post_<%= post.id %>_comment_form" class="comment-form"
        style="display: none"></span>
    <% end %>
  </div>
</li>
