<footer class="footer">
  <small>
    <%= t ".the" %>
    <%= link_to t(".weblog"), static_pages_path(:home) %>
    <%= t ".by" %>
    <%= link_to t(".hanato"), "#" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), "#" %></li>
      <li><%= link_to t(".contact"), "#" %></li>
      <li><%= link_to t(".news"),  "#" %></li>
    </ul>
  </nav>
</footer>
