<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(".weblog"), static_pages_path(:home), id: "logo" %>
    <nav>
      <div class="col-md-3">
        <%= form_tag posts_path, :method => "get", id: "search-form",
          class: "navbar-form", role: "search" do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search],
              placeholder: "Search Post", class: "form-control" %>
            <div class="input-group-btn">
              <%= submit_tag t(".search"), :name => nil,
                class: "btn btn-warning" %>
            </div>
          </div>
        <% end %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to raw("<span class='glyphicon glyphicon-home'></span> " +
          t(".home")), static_pages_path(:home) %></li>
        <li><%= link_to raw("<span class='glyphicon glyphicon-question-sign'>
          </span> " + t(".help")), "https://www.google.com" %></li>
        <% if user_signed_in? %>
          <li><%= link_to raw("<span class='glyphicon glyphicon-user'></span> " +
            t(".users")), users_path %></li>
          <% if current_user.admin? %>
            <li><%= link_to raw("<span class='glyphicon glyphicon-list-alt'>\
              </span> " + t(".statistic")), statistics_path %></li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t ".account" %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t(".profile"), current_user %></li>
              <li><%= link_to t(".settings"),
                edit_user_registration_path(current_user)  %></li>
              <li class="divider"></li>
              <li><%= link_to t(".logout"), destroy_user_session_path,
                method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to raw("<span class='glyphicon glyphicon-log-in'>
            </span> " + t(".login")), new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
